#! /usr/bin/make -f

DIALOG_PY = /usr/share/pyshared/dialog.py

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -f dialog.html

override_dh_auto_build:
	dh_auto_build
	
	pydoc -w dialog
	# Fix path to sources
	sed -i -e 's!<a href="file:/.*">.*</a>!<a href="file:$(DIALOG_PY)">$(DIALOG_PY)</a>!' dialog.html

override_dh_compress:
	dh_compress -Xdemo.py -Xpydoc.html
